body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
    border-top: 1px solid #CCCCCC;
}

header {
    border-bottom: 1px solid #CCCCCC;
}
